body,
p,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
td,
input,
select,
option,
textarea,
li {
  margin: 0;
  padding: 0; }

/*body::-webkit-scrollbar{
	display: none;
}*/
a {
  text-decoration: none; }

ul,
ol,
li {
  list-style: none; }

body {
  width: 100%; }

section {
  width: 100%; }

.conter {
  width: 990px;
  margin: 40px auto;
  overflow: hidden; }
  .conter input:hover {
    cursor: pointer; }
  .conter .guide-line {
    overflow: hidden; }
    .conter .guide-line .side1 {
      float: left; }
      .conter .guide-line .side1 ul li {
        float: left;
        font-size: 16px;
        line-height: 16px;
        color: black;
        padding: 11px 0px;
        margin-right: 30px;
        font-weight: 700; }
      .conter .guide-line .side1 .hoverlii {
        border-bottom: 2px solid #e4393c;
        color: #e4393c; }
    .conter .guide-line .side2 {
      float: right;
      color: #666666;
      font-size: 12px;
      line-height: 12px; }
      .conter .guide-line .side2 .sedas {
        float: left;
        display: block; }
      .conter .guide-line .side2 .address {
        float: left; }
  .conter .cart-warp {
    padding-left: 11px;
    overflow: hidden; }
    .conter .cart-warp ul li {
      color: #666666;
      font-size: 12px;
      line-height: 12px;
      padding: 17px 0; }
    .conter .cart-warp .cart-lul {
      overflow: hidden;
      float: left; }
      .conter .cart-warp .cart-lul .checkli input {
        vertical-align: middle; }
      .conter .cart-warp .cart-lul li {
        float: left;
        padding-right: 78px; }
    .conter .cart-warp .cart-ol {
      overflow: hidden;
      float: right; }
      .conter .cart-warp .cart-ol li {
        float: left;
        color: #666666;
        font-size: 12px;
        line-height: 12px;
        padding: 17px 0; }
      .conter .cart-warp .cart-ol li:nth-of-type(1) {
        margin-right: 68px; }
      .conter .cart-warp .cart-ol li:nth-of-type(2) {
        margin-right: 85px; }
      .conter .cart-warp .cart-ol li:nth-of-type(3) {
        margin-right: 41px; }
      .conter .cart-warp .cart-ol li:nth-of-type(4) {
        margin-right: 66px; }
  .conter .cart-list .shopstore {
    padding-left: 12px; }
    .conter .cart-list .shopstore a {
      color: #666666;
      font-size: 12px;
      line-height: 12px;
      padding: 10px 0;
      display: block; }
      .conter .cart-list .shopstore a input {
        display: inline-block;
        vertical-align: middle; }
      .conter .cart-list .shopstore a i {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 12px; }
  .conter .cart-list .buypro {
    padding: 18px 0 14px 12px;
    border-top: 3px solid #ccc;
    overflow: hidden;
    background: #fff4e8; }
    .conter .cart-list .buypro .dui {
      margin-right: 16px;
      float: left; }
    .conter .cart-list .buypro a {
      display: block;
      float: left; }
    .conter .cart-list .buypro .introd {
      width: 259px;
      overflow: hidden;
      float: left;
      margin-left: 11px; }
      .conter .cart-list .buypro .introd p {
        font-size: 14px;
        line-height: 20px; }
    .conter .cart-list .buypro .color {
      margin-left: 23px;
      float: left;
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px; }
    .conter .cart-list .buypro .priceone {
      margin-left: 86px;
      float: left; }
    .conter .cart-list .buypro .chnagenum {
      margin-left: 41px;
      float: left; }
      .conter .cart-list .buypro .chnagenum input {
        width: 44px;
        height: 20px;
        border: 1px solid #666666;
        text-align: center;
        outline: none;
        vertical-align: middle;
        float: left; }
      .conter .cart-list .buypro .chnagenum span {
        display: inline-block;
        height: 20px;
        width: 20px;
        border: 1px solid #666666;
        float: left;
        text-align: center;
        color: #666666; }
      .conter .cart-list .buypro .chnagenum span:hover {
        cursor: pointer; }
    .conter .cart-list .buypro .smallsum {
      margin-left: 29px;
      float: left;
      font-weight: 700; }
    .conter .cart-list .buypro .movepro {
      float: left;
      margin-left: 40px; }
      .conter .cart-list .buypro .movepro p {
        color: #666666;
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 12px; }
      .conter .cart-list .buypro .movepro p:hover {
        cursor: pointer; }
  .conter .cart-list .cartfoot {
    padding-left: 12px;
    margin-top: 20px;
    border-top: 1px solid #666666;
    overflow: hidden; }
    .conter .cart-list .cartfoot .foot-l {
      margin-top: 20px;
      float: left; }
      .conter .cart-list .cartfoot .foot-l ul {
        overflow: hidden; }
        .conter .cart-list .cartfoot .foot-l ul li {
          font-size: 12px;
          color: #666666;
          float: left;
          margin-right: 30px; }
          .conter .cart-list .cartfoot .foot-l ul li input {
            vertical-align: middle; }
        .conter .cart-list .cartfoot .foot-l ul li:hover {
          cursor: pointer; }
    .conter .cart-list .cartfoot .foot-r {
      float: right;
      overflow: hidden;
      font-size: 12px;
      color: #666666; }
      .conter .cart-list .cartfoot .foot-r span {
        color: #e54346;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700; }
      .conter .cart-list .cartfoot .foot-r .choices {
        float: left;
        margin-right: 12px;
        padding-top: 10px; }
        .conter .cart-list .cartfoot .foot-r .choices i {
          display: inline-block;
          width: 9px;
          height: 5px;
          vertical-align: middle;
          margin: -3px 0 0 3px;
          background: url(../img/cart-icons-new.png) -45px -91px; }
      .conter .cart-list .cartfoot .foot-r .deltpro {
        float: left;
        padding-top: 10px; }
        .conter .cart-list .cartfoot .foot-r .deltpro p {
          text-align: center; }
      .conter .cart-list .cartfoot .foot-r .paymoney {
        float: left;
        margin-left: 18px;
        width: 95px;
        font-size: 16px;
        line-height: 16px;
        padding: 20px 0;
        color: white;
        text-align: center;
        background: #e54346; }
